.nav {
  max-width: 1296px;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instagram_logo {
  content: url(../../../img/instagram-logo.svg);
  transition: 0.3s;
  cursor: pointer;
}

.main_logo {
  content: url(../../../img/main-logo.svg);
  transition: 0.3s;
  cursor: pointer;
}

.burger_open_logo {
  content: url(../../../img/burger-open.svg);
  transition: 0.3s;
  cursor: pointer;
}

:is(.instagram_logo, .main_logo, .burger_open_logo):hover {
  opacity: 0.8;
}

.menu {
  max-width: 358px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.text {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.text:hover {
  color: #cdaa7d;
  border-bottom: 1px #cdaa7d solid;
}

.text:active {
  color: #ffffff;
  border-bottom: none;
}

.line {
  border-bottom: 1px solid #ffffff;
  opacity: 0.5;
}

@media screen and (max-width: 1023px) {
  .menu {
    display: none;
  }
}
